* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --gray: #d2d3d3;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 767.9px) {
  .header {
    width: 100%;
    background-image: url(./bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 460px;
    padding-bottom: 2rem;
  }

  .scroll {
    background-color: transparent;
    transition: background-color 0.5s ease;
  }
  
  .active {
    background-color: fuchsia;
    border: 0.1rem dashed ghostwhite;
    border-radius: 0.5rem;
  }
  

  .head {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #logo {
    display: block;
    width: 100%;
    text-decoration: none;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-left: 7%;
    font-size: 155%;
    color: black;
    position: fixed;
    transition: font-size 0.3s ease-in;
  }

  .menu:hover {
    color: var(--orange);
    font-size: 170%;
  }

  .desk-links {
    display: none;
  }

  .desk-nav {
    display: none;
  }

  .nav-bar {
    height: 100%;
    width: 100%;
  }

  .mobile-menu {
    height: 0;
    background-color: var(--orange);
    position: fixed;
    width: 100%;
    transition: height 0.3s ease-in-out;
    visibility: hidden;
    overflow: hidden;
    top: 0;
  }

  .close-menu {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .menu-button {
    width: 40px;
    height: 40px;
    margin-right: 6.4%;
    background-color: #fff5e1;
    border-style: none;
  }

  .menu-button:hover {
    background-color: #fff;
    border: 0.1rem solid var(--black);
  }

  .mobnav {
    height: 23.958vh;
    margin-left: 6.4%;
    margin-right: 6.4%;
    width: 87.2%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .mobnav1 {
    height: 33.33%;
    width: 33.33%;
    display: flex;
    align-items: center;
  }

  .mobnav1:hover {
    background-color: var(--black);
  }

  .moblink {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    font-size: 32px;
    color: #fff5e1;
  }

  .page {
    display: flex;
    flex-direction: column;
    padding: 1rem 6% 0 6%;
    width: 100%;
    gap: 0.8rem;
  }

  .para {
    margin-top: 1.5rem;
    color: var(--orange);
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .heading1 {
    font-style: normal;
    font-size: 1.9rem;
    font-weight: 800;
    background-image: url(./images/bacgroudtext.jpeg);
    color: transparent;
    background-clip: inherit;
    -webkit-background-clip: text;
  }

  .paraborder {
    border: 0.2rem solid #fff;
  }

  .para1 {
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1rem;
    color: var(--black);
  }

  .venue {
    padding-bottom: 3rem;
  }

  .time {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 800;
  }

  .place {
    font-weight: 400;
  }

  .heading2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0 1rem 0;
  }

  .line {
    color: var(--orange);
    width: 10%;
    height: 0.1rem;
    background-color: var(--orange);
    border: none;
  }

  .heading3 {
    font-weight: 400;
  }

  .programs {
    background-image: url(./bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .program {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 0 0.7rem 0 0.7rem;
  }

  .proimg {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 6%;
    border-radius: 2rem;
  }

  .proheading {
    color: var(--orange);
    width: 40%;
    text-align: center;
  }

  .propara {
    text-align: start;
    margin: 1rem 4% 1rem 0;
    font-size: 0.7rem;
    width: 60%;
    font-weight: 400;
    color: #fff;
    line-height: 1rem;
  }

  .program-l {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(108, 106, 106, 0.35);
    transition: border 0.1s ease-in-out;
  }

  .program-l:hover {
    border: 0.1rem solid var(--gray);
  }

  .button-cintainer {
    width: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    color: #fff;
    background-color: var(--orange);
    padding: 1.2rem;
    width: 100%;
    border: none;
    max-width: 300px;
    transition: background-color, color, border, 0.3s ease-in-out;
  }

  .button:hover {
    background-color: var(--gray);
    color: var(--orange);
    border: 0.1rem solid var(--orange);
  }

  .button-cintainer1 {
    display: none;
  }

  #speakers {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #sphead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
  }

  .sphead1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    color: var(--black);
  }

  .line2 {
    width: 8%;
    height: 0.1rem;
    background-color: var(--orange);
    border: none;
  }

  #grid {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 8% 0 8%;
    width: 100%;
  }

  .speakerdiv {
    display: flex;
    gap: 0.6rem;
  }

  .speakerdiv1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .speakerbg {
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: -1;
  }

  .line3 {
    width: 2rem;
    background-color: var(--gray);
    height: 0.1rem;
    border: none;
  }

  .speakerimage {
    height: 8rem;
    width: 112px;
    z-index: 0;
    padding: 1rem 0 0 1rem;
  }

  .speakerhead {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .speakerhead1 {
    font-size: 0.7rem;
    color: var(--orange);
    font-style: italic;
  }

  .speakerpara {
    font-size: 0.7rem;
    font-weight: 400;
  }

  .sponsers {
    display: none;
  }

  .hide {
    display: none;
  }

  .footer {
    display: none;
  }

  .speakerbutton {
    padding: 1rem 0 1rem 0;
    width: 84%;
    margin-inline: 8%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
    border: 0.1rem solid var(--gray);
    border-radius: 0.3rem;
    color: var(--black);
    transition: background-color, color, border, 0.3s ease-in;
  }

  .speakerbutton:hover {
    background-color: var(--gray);
    color: #fff;
    border: 0.1rem solid var(--black);
  }

  .up {
    color: var(--orange);
  }

  #spbutton {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    background-image: url(./bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .head {
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  #logo {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .deskul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--black);
    list-style: none;
    gap: 2%;
    padding-right: 13%;
  }

  .desklist {
    color: #fff;
    padding: 0.25rem 0 0.25rem 0;
  }

  .desk-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 12.5% 1rem 13%;
  }

  .logolink {
    background-color: var(--black);
    text-align: center;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    width: 6rem;
    justify-content: center;
  }

  .desklogo {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }

  .deskuldiv {
    display: flex;
  }

  .deskul2 {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .logolink1 {
    text-decoration: none;
  }

  .desklist2 {
    list-style: none;
    cursor: pointer;
  }

  .desbutton {
    display: flex;
    align-items: center;
    padding-left: 3rem;
  }

  .deskbutton {
    cursor: pointer;
    padding: 0.3rem;
    border: 0.2rem solid var(--orange);
    color: var(--orange);
    font-size: 0.8rem;
    font-weight: 400;
  }

  .page {
    padding: 12rem 13% 9rem 13%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .para {
    color: var(--orange);
    font-size: 2rem;
    font-weight: 400;
  }

  .desklink {
    text-decoration: none;
    color: #fff;
    transition: color, font-size, 0.3s ease-in-out;
  }

  .desklink:hover {
    color: var(--orange);
    font-size: 1.2rem;
  }

  .desklink1 {
    text-decoration: none;
    color: var(--black);
    transition: color, font-size, 0.3s ease-in-out;
  }

  .desklink1:hover {
    color: var(--orange);
    font-size: 1.4rem;
  }

  .heading1 {
    font-style: normal;
    font-size: 3.2rem;
    font-weight: 800;
    background-image: url(./images/bacgroudtext.jpeg);
    color: transparent;
    background-clip: inherit;
    -webkit-background-clip: text;
  }

  .paraborder {
    border: 0.2rem solid #fff;
    max-width: 24rem;
  }

  .para1 {
    padding: 1rem;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: rgba(21, 20, 20, 0.772);
  }

  .time {
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 700;
  }

  .place {
    font-weight: 400;
    color: rgba(21, 20, 20, 0.772);
  }

  .heading2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 2.5rem 0 2.5rem 0;
  }

  .line {
    height: 0.1rem;
     background-color: var(--orange);
     border: none;
    width: 5%;
  }

  .heading3 {
    font-weight: 400;
  }

  .programs {
    background-image: url(./bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .program {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 20%);
    align-items: center;
    gap: 0.1rem;
    padding: 0 20% 0 20%;
  }

  .proimg {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 2rem;
    padding-top: 1rem;
  }

  .proheading {
    color: var(--orange);
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  .propara {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
    color: #fff;
    padding-bottom: 1rem;
    line-height: 1rem;
  }

  .program-l {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    padding: 0 1rem 0 1rem;
    background-color: rgba(108, 106, 106, 0.35);
  }

  .program-l:hover {
    border: 0.1rem solid var(--gray);
  }

  .button-cintainer1 {
    width: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button1 {
    color: #fff;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-cintainer {
    display: none;
  }

  #speakers {
    padding-bottom: 8rem;
  }

  #sphead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 3rem 0 3rem 0;
  }

  .sphead1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    color: var(--black);
  }

  .line2 {
    width: 4%;
    height: 0.1rem;
    background-color: var(--orange);
    border: none;
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10% 0 10%;
    grid-gap: 2.5rem;
    width: 100%;
  }

  .speakerdiv {
    display: flex;
    gap: 1rem;
  }

  .speakerdiv1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .speakerbg {
    position: absolute;
    height: 5rem;
    width: 5rem;
    z-index: -1;
  }

  .line3 {
    width: 2rem;
    background-color: var(--gray);
    height: 0.1rem;
    border: none;
  }

  .speakerimage {
    height: 8rem;
    width: 112px;
    z-index: 0;
    padding: 1rem 0 0 1rem;
  }

  .speakerhead {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .speakerhead1 {
    font-size: 0.7rem;
    color: var(--orange);
    font-style: italic;
  }

  .speakerpara {
    font-size: 0.7rem;
    font-weight: 400;
  }

  .sponsers {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 100%;
    background-color: #494949;
    align-items: center;
  }

  .sponhead {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    color: var(--gray);
  }

  .line4 {
    justify-content: center;
    width: 2rem;
    height: 0.1rem;
    background-color: var(--orange);
    border: none;
  }

  .sponicons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
    list-style: none;
    color: var(--gray);
  }

  .sponicon {
    text-align: center;
    font-size: 1.2rem;
  }

  .footer {
    padding: 3.5rem 15rem 3.5rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .footerdiv {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .footerlink1 {
    background-color: var(--black);
    width: 6rem;
    height: 2rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
  }

  .footerlogo {
    color: #fff;
    font-weight: 700;
  }

  .footericon {
    font-size: 2rem;
  }

  #spbutton {
    visibility: collapse;
  }

  #spbutton1 {
    visibility: collapse;
  }
}

@media only screen and (min-width: 1140px) {
  .speakerhead {
    font-size: 2rem;
    font-weight: 700;
  }

  .speakerhead1 {
    font-size: 1rem;
    color: var(--orange);
  }

  .speakerpara {
    font-size: 1rem;
    font-weight: 400;
  }
}
